body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc{
    background-color: rgb(255, 254, 246);
    padding: 20px;
    border: 1px solid rgb(197, 194, 194);
    box-shadow: 0 4px 15px rgb(27, 2, 2);
    border-radius: 10px;
}
.botton {
  margin-top: 4vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
} 
input{
    width: 92%;
    height:40px;
    font-size: 17px;
    text-align: right;
    padding: 10px;
    box-shadow: inset 0 2px 5px black;
}
.botton button{
    height:60px;
    width: 70px;
    border:none;
    border-radius: 10px;
    font-size: 17px;
    cursor:pointer;
}
.equal{
    background-color: brown;
    color: white;
}
button:first-child{
    background-color: rgb(34, 34, 197);
    color: white;
}
button:hover{
    background-color: cadetblue;
    color: aliceblue;
}